<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="/static/dist/css/bulma.min.css">
    {block name="head_append"}{/block}
</head>
<body>
    <div class="columns is-desktop">
        <div class="column is-2">
            <div class="box">
                <aside class="menu">
                    <?php $list = config('html.list'); ?>
                    <p class="menu-label">
                        PC端
                    </p>
                    <ul class="menu-list">
                        {foreach ($list['index'] as $name1 => $text)}
                        <li><a href="{:url('admin/Index/edit', ['type' => 'index', 'name' => $name1])}"{if (isset($name) && $type === 'index' && $name1 === $name)} class="is-active"{/if}>{$text}</a></li>
                        {/foreach}
                    </ul>
                    <p class="menu-label">
                        移动端
                    </p>
                    <ul class="menu-list">
                        {foreach ($list['mobile'] as $name1 => $text)}
                        <li><a href="{:url('admin/Index/edit', ['type' => 'mobile', 'name' => $name1])}"{if (isset($name) && $type === 'mobile' && $name1 === $name)} class="is-active"{/if}>{$text}</a></li>
                        {/foreach}
                    </ul>
                    <p class="menu-label">
                        账户操作
                    </p>
                    <ul class="menu-list">
                        <li><a href="{:url('admin/Login/logout')}">退出登录</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="column">
            <h1 class="title">
                {block name="title"}请从左侧列表选择文章编辑{/block}
            </h1>
            {if (session('?save_ok'))}
            <div class="notification is-success">
                {:session('save_ok')}
            </div>
            {/if}
            {block name="main"}{/block}
        </div>
    </div>
    {block name="body_append"}{/block}
</body>
</html>

