<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">
    <title>{block name="title"}{notempty name="title"}{$title} - {/notempty}起航交大{/block}</title>
    <meta name="description" content="起航交大是面向大一新生的全方位介绍西安交通大学以及报道有关事项的网站，关于交大，你想知道的，都在这里" />
    <link rel="stylesheet" href="/static/common/css/eeyes_common.css">
    <link rel="stylesheet" href="/static/index/css/index.css">
</head>
<body>
    <div class="main">
        {block name="main"}{/block}
    </div>
    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="xjtu-start-here-logo">
                <a data-pjax href="{:url('index/Index/index')}">
                    <img src="/static/index/images/logo/xjtu-start-here.png" alt="起航交大logo" class="logo-img">
                </a>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="menu-ul">
                <?php $menu = config('data.menu_index'); ?>
                {foreach ($menu as $id => $name)}
                <li class="menu-li">
                    <a data-pjax href="{:url('index/Index/read', ['id' => $id])}"{if ($post->id === $id || ($id === 'colleges' && $post->isCollege()))} class="active"{/if}>{$name}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </aside>
    <footer class="footer">
        <p class="footer-sponsor"><span>西安交通大学招生办</span></p>
        {include file="common@common/eeyes_common_footer" /}
    </footer>
    <script src="/static/dist/js/jquery-3.1.1.min.js"></script>
    <script src="/static/dist/js/jquery.pjax.min.js"></script>
    <script src="/static/index/js/index.js"></script>
</body>
</html>
