<ul class="main-header-colleges-ul">
    <?php $college_posts = \app\common\model\Post::allCollegeOfType('index'); ?>
    {foreach ($college_posts as $college_post)}
    <li class="main-header-colleges-li">
        <a data-pjax href="/{$college_post->id}.html">
            <div class="main-header-college{if ($post->id === $college_post->id)} active{/if}">
                <img class="main-header-college-image" src="/static/index/images/college-logo/{$college_post->id}.png" alt="{$college_post->name}logo">
                <p class="main-header-college-text">{$college_post->name}</p>
            </div>
        </a>
    </li>
    {/foreach}
</ul>
