<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{block name="title"}{notempty name="title"}{$title} - {/notempty}起航交大{/block}</title>
    <link rel="stylesheet" href="/static/mobile/css/mobile.css">
    <link rel="stylesheet" href="/static/common/css/eeyes_common.css">
    <link rel="stylesheet" href="/static/dist/css/swiper-3.4.2.min.css">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <a href="//www.eeyes.net" target="_blank">
                <div class="header-icon-container">
                    <img class="header-icon" src="/static/mobile/images/icon/eeyes.png" alt="e瞳网logo">
                </div>
            </a>
        </div>
        <div class="header-center">
            <a data-pjax href="{:url('mobile/Index/index')}">
                <div class="header-icon-container">
                    <h1 class="header-title">起航交大</h1>
                </div>
            </a>
        </div>
        <div class="header-right">
            <a href="javascript:">
                <div class="header-icon-container">
                    <img class="header-icon" src="/static/mobile/images/icon/menu.png" alt="菜单">
                </div>
            </a>
        </div>
    </header>
    <aside class="sidebar">
        <div class="sidebar-bg"></div>
        <div class="sidebar-wrapper">
            <div class="sidebar-header">
                <a data-pjax href="{:url('mobile/Index/index')}">
                    <div class="sidebar-brand">
                        <img class="sidebar-brand-img" src="/static/index/images/logo/xjtu-start-here.png" alt="起航交大logo">
                    </div>
                </a>
            </div>
            <div class="sidebar-body">
                <ul class="menu-ul">
                    <?php $menu = config('data.menu_mobile'); ?>
                    {foreach ($menu as $id => $name)}
                    <li class="menu-li">
                        <a data-pjax href="{:url('mobile/Index/read', ['id' => $id])}">{$name}</a>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="sidebar-footer">
                <div class="qrcode-container">
                    <div class="qrcode">
                        <img class="qrcode-img" src="/static/mobile/images/qrcode/eeyes.jpg">
                        <p class="qrcode-text">西安交通大学e瞳网</p>
                    </div>
                </div>
                <ul class="sponsor-ul">
                    <li class="sponsor-li">
                        <img class="sponsor-icon" src="/static/mobile/images/icon/sponsor.png" alt="支持">
                        <span class="sponsor-text">西安交通大学招生办</span>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="main">
        {block name="main"}{/block}
    </div>
    <footer class="footer">
        {include file="common@common/eeyes_common_footer" /}
    </footer>
    <script src="/static/dist/js/jquery-3.1.1.min.js"></script>
    <script src="/static/dist/js/jquery.pjax.min.js"></script>
    <script src="/static/dist/js/swiper-3.4.2.jquery.min.js"></script>
    <script src="/static/dist/js/jquery.lazyload.min.js"></script>
    <script src="/static/dist/js/jquery.touchSwipe.min.js"></script>
    <script src="/static/mobile/js/mobile.js"></script>
</body>
</html>
