<ul class="main-content-colleges-ul">
    {foreach ( config('html.colleges') as $name1 => $text)}
    <li class="main-content-college-li">
        <div class="main-content-college">
            <div class="main-content-college-logo">
                <img class="main-content-college-logo-img" src="/static/mobile/images/college-logo/{$name1}.png" alt="{$text}书院logo">
            </div>
            <div class="main-content-college-body">
                <a data-pjax href="/mobile/{$name1}.html">
                    <h2 class="main-content-college-title">{$text}书院</h2>
                    <p class="main-content-college-text">{$text}书院</p>
                </a>
                <a class="main-content-college-link" href="/mobile/{$name1}.html">{$text}书院</a>
            </div>
        </div>
    </li>
    {/foreach}
</ul>
