<div class="main-content-index">
    <div class="main-content-index-help">
        <img src="/static/mobile/images/index/help.png" alt="帮助" style="width: 100%; height: 100%;">
    </div>
    <div class="swiper-container main-content-index-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/mobile/images/index/bg-01.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/static/mobile/images/index/bg-02.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
