* {
    margin: 0;
    padding: 0;
    /*border: 1px solid;*/
}

html {
    font-size: 18px;
}

body {
    background-color: #ecf0f1;
    overflow-y: scroll;
}

a {
    color: #fff;
    text-decoration: none;
}

/* main */

.main {
    padding-left: 20%;
}

/* main-header */

.main-header {
    width: 100%;
    height: 30vh;
    /*background-color: #014b93*/
}

.main-header-img {
    width: 100%;
    height: 100%;
}

.main-header-colleges {
    height: 100%;
}

.main-header-colleges-ul {
    height: 100%;
    font-size: 0;
    text-align: center;
}

.main-header-colleges-li {
    display: inline-block;
    height: 100%;
    width: 11%;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.main-header-college {
    padding: 30% 0 0;
    height: 100%;
    box-sizing: border-box;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.main-header-college.active, .main-header-college:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

.main-header-college-image {
    width: 50%;
    height: 50%;
}

.main-header-college-text {
    margin: .5em auto;
    width: 90%;
    height: 2em;
    color: #fff;
    background-color: #e84c3d;
    font-size: .8rem;
    line-height: 2em;
    text-align: center;
    border-radius: .5em;
}

/* main-content */

.main-content {
    padding: 0 14.5%;
    overflow: hidden;
}

.main-content img {
    max-width: 100%;
}

/* sidebar */

.sidebar {
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #2980b9 url(../images/sidebar-bg.jpg);
    background-size: cover;
}

/* sidebar-header */

.sidebar-header {
    height: 30vh;
}

.xjtu-start-here-logo {
    padding: 7.5vh 0;
    height: 15vh;
    text-align: center;
}

.xjtu-start-here-logo img {
    height: 100%;
}

.xjtu-start-here-logo img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
}

/* sidebar-body */

.sidebar-body {
    height: 60vh;
}

.menu-ul {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.menu-li {
    flex: 1;
    overflow: hidden;
}

.menu-li a {
    display: block;
    text-align: center;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
}

.menu-li a.active, .menu-li a:hover {
    color: #595959;
    background-color: #ecf0f1;
}

/* sidebar-footer */

.sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vh;
}

.eeyes-logo {
    margin: 3vh 5% 2vh;
    height: 5vh;
}

.eeyes-logo img {
    height: 100%;
}

/* qrcode */

.qrcode-container {
    position: fixed;
    width: 11.6%;
    right: 0;
    bottom: 140px;
    font-size: 0;
    text-align: center;
}

.qrcode {
    display: inline-block;
    padding-top: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    background-color: #ecf0f1;
}

.qrcode {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.qrcode:hover {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
}

.qrcode-img {
    width: 90%;
}

.qrcode-text {
    font-size: 8px;
}

/* footer */

.footer {
    padding-left: 20%;
}

.footer-sponsor {
    margin: 5em 0 1em;
    color: #4c4c4c;
    font-size: .8em;
    text-align: center;
}

.footer-sponsor span {
    display: inline-block;
}
